/* Font css start */

@font-face {
    font-family: 'outfit';
    src: url('../font/outfit/OUTFIT-THIN.OTF');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'outfit';
    src: url('../font/outfit/OUTFIT-EXTRALIGHT.OTF');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'outfit';
    src: url('../font/outfit/OUTFIT-LIGHT.OTF');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'outfit';
    src: url('../font/outfit/OUTFIT-REGULAR.OTF');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'outfit';
    src: url('../font/outfit/OUTFIT-MEDIUM.OTF');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'outfit';
    src: url('../font/outfit/OUTFIT-SEMIBOLD.OTF');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'outfit';
    src: url('../font/outfit/OUTFIT-BOLD.OTF');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'outfit';
    src: url('../font/outfit/OUTFIT-EXTRABOLD.OTF');
    font-weight: 800;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #111111;
    --color-orange: #DB312E;
    --off-white: #F6F6F6;

}

.white_50 {
    color: #FFFFFF50 !important;
}

header {
    transition: all .1s ease;
}

body {
    font-family: 'outfit';
    background-color: #F6F6F6;
}

.container-fluid {
    max-width: 1653px;
    margin: 0 auto;
    padding: 0px 15px;
}

.container {
    max-width: 1453px;
    margin: 0 auto;
    padding: 0px 15px;
}

/*  header Css Start */

.navbar {
    padding: 30px 0px !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-toggler {
    color: var(--body-color);
}

.nav-item .item {
    display: flex;
    align-items: center;
    position: relative;
    color: var(--body-color);
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    padding-left: 60px;
    align-items: center;
    letter-spacing: 2px;
}

.navbar-brand {
    padding: 0;
}

.border {
    position: absolute;
    bottom: -30px;
    left: 15px;
    width: 98.2%;
    height: 1px;
    background-color: #11111110;
}

.line {
    width: 20px;
    height: 2px;
    background-color: var(--body-color);
    margin-bottom: 4px;
}

/*  header Css end */

/* Hero section css start */
.hero_main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* height: calc(100vh - 90px); */
}

.about_hero {
    padding: 140px 0px 331px 0px;
}

.hero_img {
    position: absolute;
    top: 22px;
    right: 0;
    z-index: -1;
}

.about_hero h1 {
    font-size: 60px;
    color: var(--body-color);
    font-weight: 500;
    line-height: 67px;
}

.about_hero h1 {
    font-size: 60px;
    color: var(--body-color);
    font-weight: 500;
    line-height: 67px;
    margin-bottom: 30px;
}

.about_hero p {
    font-size: 20px;
    color: var(--body-color);
    font-weight: 400;
    margin-bottom: 40px;
    letter-spacing: 0;
    line-height: 30px;
}

.text_line {
    padding-bottom: 5px;
    color: var(--color-orange);
    text-decoration-thickness: 3px !important;
    text-decoration: underline;
    text-underline-offset: 11px;
}

.card_desp .text_line {
    color: var(--color-orange);
    text-decoration-thickness: 1px !important;
    text-decoration: underline;
    text-underline-offset: 1px;
}

.btn_main {
    display: block;
    padding: 10.5px 40px;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    border-radius: 5px;
    color: var(--body-color);
    font-size: 16px;
    font-weight: 400;
}

.btn_main:hover {
    color: var(--body-color);
}

.btn_warm {
    display: block;
    padding: 10.5px 24px;
    background-color: var(--color-orange);
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.btn_warm:hover {
    color: #fff;
}

.btn_warm img {
    transition: all 0.3s ease-in;
}

.btn_warm span {
    display: flex;
    align-items: center;
    display: inline-block;
    transform: rotate(-45deg);
}

.btn_warm:hover img {
    transform: translateX(50px);
}

.btn_main:hover img {
    transform: translateX(50px);
}

.aerrow_2 {
    position: absolute;
    bottom: -25px;
    left: 36%;
}

.aerrow_3 {
    position: absolute;
    bottom: -25px;
    left: 67%;
}

.btn_main img {
    transition: all 0.3s ease-in;
}

.btn_main span {
    display: flex;
    align-items: center;
    display: inline-block;
    transform: rotate(-45deg);
    margin-left: 5px;
}

.scrooll_aerrow {
    position: absolute;
    bottom: 90px;
    left: 110px;
    display: inline-block;
    width: 100px;
    transform: rotate(-90deg);
}

.scrooll_aerrow a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--body-color);
}

/*  Hero section Css End */


/* counter section  css start  */


.Shopping_bg {
    padding: 100px 0px;
    width: 100%;
    background-color: #DB312E;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.Shopping_bg::before {
    content: "";
    width: 260px;
    height: 310px;
    background-color: #de403d;
    position: absolute;
    top: -123px;
    transform: rotate(28deg);
    left: -179px;
    z-index: -1;
}

.Shopping_bg::after {
    content: "";
    width: 260px;
    height: 310px;
    background-color: #de403d;
    position: absolute;
    bottom: -123px;
    transform: rotate(28deg);
    right: -179px;
    z-index: -1;
}


.shoping_desp {
    width: 100%;
    padding-bottom: 80px;
}

.shoping_desp h2 {
    font-size: 45px;
    font-weight: 300;
    line-height: 49px;
    color: var(--off-white);
}

.count-up h3 {
    color: #fff;
}

.count-up {
    border-right: 1px solid #E0504D;
}

.count-up h3 {
    font-size: 45px;
    font-weight: 400;
}

.counter-count span {
    font-size: 30px;
    font-weight: 400;
}

.count-up p {
    color: #EEBBBA;
    font-size: 18px;
    font-weight: 300;
}

.pera_m {
    position: absolute;
    top: 20px;
    left: 40px;
}

.line_counter {
    width: 100%;
    height: 1px;
    background-color: #E0504D;
    margin-bottom: 100px;
}

.bor_count {
    border-right: none !important;
}

/* counter section css end  */

/* debit section css start */
.padd_debit {
    padding-bottom: 100px;
}

.debit_desp {
    padding-right: 79px;
}

.debit_desp .text_line {
    text-decoration: none;
}

.debit_desp h2 {
    font-size: 60px;
    color: var(--body-color);
    font-weight: 500;
    margin-bottom: 42px;
    line-height: 67px;
}

.debit_desp p {
    font-size: 18px;
    padding-bottom: 44px;
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 44px;
    font-weight: 400;
    line-height: 30px;
}

.how_desp {
    border-bottom: none !important;
    font-size: 25px;
    font-weight: 400;
    line-height: 28px;
    color: var(--body-color);
}

.debit_card img {
    width: 100%;
}

/* debit section css start */



/* payment cards section slider css start */
.payment_main {
    padding: 100px 0px;
    background-color: #ffffff;
}

.card_desp h2 {
    font-size: 45px;
    font-weight: 500;
    color: var(--body-color);
    line-height: 55px;
    margin-bottom: 50px;
}

.card_desp p {
    font-size: 18px;
    font-weight: 400;
    color: var(--body-color);
    margin-bottom: 64px;
    line-height: 30px;
}

.sliders_card {
    padding-left: 240px;
}

.slick-next {
    width: 20px;
    height: 20px;
    right: 14%;
    padding: 7px;
    top: -80px;
    border-radius: 50%;
    background-image: url(../images/right_slide.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.slick-prev {
    width: 20px;
    height: 20px;
    padding: 7px;
    z-index: 1;
    top: -80px;
    border-radius: 50%;
    position: absolute;
    left: 80%;
    background-image: url(../images/left_slide.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.slick-prev:before {
    content: "";
    font-family: none;
    opacity: .75;
    color: white;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}

.slick-next:before {
    content: "";
    width: 50px;
    height: 50px;
    font-family: none;
    font-size: 25px;
    line-height: 1;
    opacity: .75;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .80;
}

.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    border-color: #E5E5E5;
    background-image: url(../images/right_slide.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.slick-prev:hover,
.slick-prev:focus {
    border-color: #E5E5E5;
    background-image: url(../images/left_slide.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.slick-prev.slick-disabled.slick-prev,
.slick-next.slick-disabled.slick-next {
    opacity: .50;
}

/* payment cards section slider css end */

/* join customers section css start */
.Customers_main {
    padding-bottom: 150px;
}

.Customers_desp {
    width: 100%;
    text-align: center;
    padding: 115px 0px;
    background-image: url(../images/round_shape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Customers_desp p {
    font-size: 18px;
    display: inline-block;
    padding: 0px 25px;
    font-weight: 400px;
    background-color: var(--off-white);
    color: var(--body-color);
    margin-bottom: 21px;
}

.Customers_desp h2 {
    font-size: 45px;
    font-weight: 500px;
    color: var(--body-color);
    line-height: 55px;
    margin-bottom: 50px;
}

.millions_bg {
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background-image: url(../images/join_bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.customer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -10px;
    border: 3px solid #FFFFFF;
    background-color: #d3cfcf;
}

.customer img {
    width: 100%;
}

.customers_view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers_more {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    border-radius: 25px;
    margin-left: -10px;
    background-color: var(--color-orange);
    padding: 9.5px 25px;
    border: 2px solid #ffffff;
}

.join_now img {
    padding-bottom: 100px;
}

.join_now h2 {
    margin-bottom: 36px;
    font-size: 80px;
    font-weight: 400;
    line-height: 88px;
    color: #ffffff;
}

.join_now a {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 9.5px 0px;
    width: 135px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #111111;
    font-size: 16px;
    font-weight: 400;
}

.join_now a .dash {
    width: 5px;
    display: inline-block;
    height: 1.8px;
    display: none;
    margin-bottom: 3px;
    transition: all 0.4s ease-in;
    margin-right: 2px;
    border-radius: 20px;
    background-color: #111111;
}


/* join customers section css end */






/* physical section css start */

.Physical_shop {
    padding-bottom: 150px;
}

.Physical_shop img {
    width: 100%;
}

.Physical_shop h2 {
    font-size: 60px;
    color: var(--body-color);
    font-weight: 500;
    margin-bottom: 49px;
    line-height: 67px;
}

.Physical_shop p {
    font-size: 18px;
    color: var(--body-color);
    font-weight: 400;
    margin-bottom: 38px;
}

.Physical_shop a {
    display: inline-block;
}

/* .phy_desp {
    padding: 85px;
} */

/* physical section css end */

/* digital shop section css start */
.digital_shop {
    padding-bottom: 150px;

}

.digital_shop img {
    width: 100%;
}

.digital_shop h2 {
    font-size: 60px;
    color: var(--body-color);
    font-weight: 500;
    margin-bottom: 49px;
    line-height: 67px;
}

.digital_shop p {
    font-size: 18px;
    color: var(--body-color);
    font-weight: 400;
    margin-bottom: 38px;
}

.digital_shop a {
    display: inline-block;
}

/* .dg_desp {
    padding: 85px;
} */

/* digital shop section css start */


/* Mobile top-up section css start */
.Mobile_top {
    padding-bottom: 150px;

}

.Mobile_top img {
    width: 100%;
}

.Mobile_top h2 {
    font-size: 60px;
    color: var(--body-color);
    font-weight: 500;
    margin-bottom: 49px;
    line-height: 67px;
}

.Mobile_top p {
    font-size: 18px;
    color: var(--body-color);
    font-weight: 400;
    margin-bottom: 38px;
}

.Mobile_top a {
    display: inline-block;
}

/* .mobile_desp {
    padding: 85px;
} */

/* Mobile top-up section css end */

/*  NDFT section css Start */

.NDFT {
    padding-bottom: 150px;

}

.NDFT img {
    width: 100%;
}

.NDFT h2 {
    font-size: 60px;
    color: var(--body-color);
    font-weight: 500;
    margin-bottom: 49px;
    line-height: 67px;
}

.NDFT p {
    font-size: 18px;
    color: var(--body-color);
    font-weight: 400;
    margin-bottom: 38px;
}

.NDFT a {
    display: inline-block;
}

/* .mobile_desp {
    padding: 85px;
} */


/* NDFT section css end */

/*  Partners section css start */

.sub_heading {
    display: inline-block;
    padding: 5px 25px;
    background-color: #F4E2E1;
    border-radius: 18px;
    font-size: 18px;
    color: var(--body-color);
    margin-bottom: 21px;
    font-weight: 400;
}

.partners {
    padding-bottom: 100px;
}

.partners_heading h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 55px;
    color: var(--body-color);
    margin-bottom: 80px;
}

.partner_all img {
    margin-bottom: 13px;
    /* border: 1px solid #DDDDDD;
    border-radius: 50%;
    padding: 19px; */
}

.partner_all p {
    color: var(--body-color);
    font-size: 18px;
    font-weight: 400;
}

.partner_all {
    margin-right: 58px;
    margin-bottom: 60px;
}

/*  Partners section css start */
.card {
    border: none;
    background-color: transparent;
}

.card-head {
    border-bottom: 1px solid #11111110;
    padding: 10px 0px;
}

.card-title {
    color: #11111150;
    font-size: 14px;
    font-weight: 400;
}

.card-body {
    padding: 10px 0px;
}

.card-body p {
    font-size: 20px;
    font-weight: 500;
    color: var(--body-color);
    margin-bottom: 0;
}

/* .card-link::before {
    content: "";
    width: 5px;
    height: 2px;
    background-color: #DB312E;
    position: absolute;
    top: 0;
    left: 0;
} */

.card-top a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-orange);
    font-size: 14px;
    font-weight: 400;
}

.card-link:hover .dash {
    display: inline-block;
}

.dash {
    width: 5px;
    display: inline-block;
    height: 2px;
    display: none;
    margin-bottom: 2.2px;
    transition: all 0.4s ease-in;
    margin-right: 2px;
    border-radius: 20px;
    background-color: #db423f;
}

.Blog a {
    display: inline-block;
}

.Blog {
    padding-bottom: 150px;
}

.blog_btn {
    margin-top: 50px;
}

.blog_btn a .aerrow_2 {
    bottom: -25px;
    left: 55%;
}

/* footer sectioncss start */

.footer_bg {
    padding-top: 100px;
    background-color: var(--body-color);
}

.footer_about {
    padding-bottom: 100px;
    border-bottom: 1px solid #F6F6F610;

}

.description {
    padding-top: 50px;
}

.description p {
    color: #AEAEAE;
    font-size: 18px;
    font-weight: 300;
}

.links h3 {
    color: #F6F6F6;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 28px;
}

.links ul {
    padding-left: 0px
}

.links ul li {
    list-style: none;
    margin-bottom: 19px;
    line-height: 19px;
}

.links ul li a {
    text-decoration: none;
    color: #AEAEAE;
    font-size: 18px;
    font-weight: 300;
}

.links p {
    color: #AEAEAE;
    font-size: 18px;
    font-weight: 300;
}

.footer_bottom p {
    padding: 25px 0px;
    font-size: 16px;
    font-weight: 300;
    color: #11111150;
}

.footer_bottom {
    border-top: 1px solid #11111110;
    margin-top: 66px;
}

.skrink {
    background-color: var(--off-white);
    width: calc(100vw -30px) !important;
    border: 1px solid #11111110;
    position: sticky;
    top: 5px;
    margin: 0px 5px;
    border-radius: 10px;
    z-index: 9999;
    box-shadow: 0 0 3px 2px #ffffff10;
}

.skrink .container-fluid {
    max-width: 1841px;
    margin: 0 auto;
    padding: 0px 15px;
}

.skrink .container-fluid .border {
    display: none;
}

.about_padd {
    padding: 0px 150px 0px 80px;
}

/*  footer section css end  */


/*  support page css start */

.support_hero {
    padding: 100px 0px;
}

.support_hero h1 {
    color: var(--body-color);
    font-size: 60px;
    font-weight: 500;
    line-height: 67px;
    margin-bottom: 30px;
}

.support_hero p {
    font-size: 18px;
    font-weight: 400;
    color: var(--body-color);
}

.social_btn a {
    text-decoration: none;

}

.social_btn a:hover {
    color: #ffffff;

}

.news_bg {
    text-align: center;
    background-color: var(--body-color);
    padding: 150px 0 0;
    background-image: url(../images/bg_black.png);
    background-size: 104% 100%;
    background-repeat: no-repeat;
}

.news_bg .card .card-img-top {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.news_bg .card-body h5 {
    color: var(--off-white);
    font-size: 35px;
    font-weight: 400;
    line-height: 39px;
    margin-bottom: 27px;
}

.news_bg .card-body p {
    color: #FFFFFF70;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 70px;
}

/*  support page css end */
.follow {
    background-color: #F6F6F6;
    padding: 250px 0px;
}

.follow h2 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 70px;
}

.follow_card {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}

.follow_card h3 {
    margin-bottom: 11px;
    font-size: 20px;
    font-weight: 500;
}

.follow_card p {
    color: #11111170;
}

.follow_card .follow_icon {
    border: 1px solid #11111110;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 94px;
}

.newsletter {
    background-color: #DB312E;
    transform: translateY(95px);
    border-radius: 10px;
    padding: 75px 60px;
}

.newsletter h3 {
    font-size: 45px;
    font-weight: 400;
    line-height: 49px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.news_inpt {
    background-color: #FFFFFF20;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    height: 45px;
    padding: 14px 15px;
}

.form-control:focus {
    background-color: #FFFFFF20;
    color: #FFFFFF;
    box-shadow: none;
}

.news_inpt::placeholder {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}



.btn_skype {
    background-color: #00B4EE;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    padding: 2px 12px 2px 2px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    overflow: hidden;
}

.btn_skype span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 3px;
    margin-right: 10px;
}

.btn_skype:hover .skyp_2 {
    transform: translate(-11px, 7px);
    transition: all .3s ease;
}

.skyp_1 {
    transition: all .3s ease;
}

.btn_skype:hover .skyp_1 {
    transform: translate(24px, -21px);
    transition: all .3s ease;
}

.skyp_2 {
    position: absolute;
    transform: translate(-34px, 34px);
    transition: all .3s ease;
}

.business {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #292929;
}

.main_btn {
    padding: 12px 29px;
    background-color: #DB312E;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    overflow: hidden;
    text-decoration: none;
}

.main_btn:hover {
    color: #FFFFFF;
}


.main_btn:hover .skyp_22 {
    transform: translate(-11px, 7px);
    transition: all .3s ease;
}

.skyp_11 {
    transition: all .3s ease;
}

.main_btn:hover .skyp_11 {
    transform: translate(33px, -30px);
    transition: all .3s ease;
}

.skyp_22 {
    position: absolute;
    transform: translate(-40px, 36px);
    transition: all .3s ease;
}

.news_letbtn {
    background-color: #FFFFFF;
    color: #111111;
}

.news_letbtn:hover {
    color: #111111;
}

.late_card {
    padding: 5px;
    background: #FFF;
    border-radius: 10px;
}

.follow a {
    text-decoration: none;
    color: inherit;
}

.card_section img {
    width: 100%;
    margin-bottom: 20px;
}





@media screen and (max-width:1440px) {
    .border {
        left: 15px;
        width: 98%;
    }

    .about_hero {
        padding: 150px 0px 332px 0px;
    }

    .scrooll_aerrow {
        left: -24px;
    }

    .about_hero h1 {
        font-size: 50px;
        line-height: 57px;
        margin-bottom: 15px;
    }

    .shoping_desp h2 {
        font-size: 32px;
        line-height: 35px;
    }

    .count-up h3 {
        font-size: 35px;
    }

    .debit_desp h2 {
        font-size: 35px;
        color: var(--body-color);
        font-weight: 500;
        margin-bottom: 25px;
        line-height: 55px;
    }

    .how_desp {
        font-size: 22px;
        line-height: 25px;
    }

    .card_desp h2 {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 30px;
    }

    .sliders_card {
        padding-left: 15px;
    }

    .Customers_desp h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .join_now h2 {
        font-size: 60px;
        line-height: 68px;
    }

    .about_padd {
        padding: 0px 65px;
    }

    .Physical_shop h2 {
        font-size: 45px;
        margin-bottom: 25px;
        line-height: 55px;
    }

    .digital_shop h2 {
        font-size: 45px;
        margin-bottom: 25px;
        line-height: 55px;
    }

    .Mobile_top h2 {
        font-size: 45px;
        margin-bottom: 25px;
        line-height: 55px;
    }

    .NDFT h2 {
        font-size: 45px;
        margin-bottom: 25px;
        line-height: 55px;
    }

    .partners_heading h2 {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 60px;
    }

    .partner_all {
        margin-right: 50px;
        margin-bottom: 60px;
    }

    .slick-prev {
        left: 80%;
    }

    .slick-next {
        right: 12%;
    }

    .support_hero h1 {
        font-size: 50px;
        line-height: 57px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:1280px) {
    .partner_all {
        margin-right: 42px;
    }

    .slick-prev {
        left: 84%;
    }

    .slick-next {
        right: 7%;
    }

}

@media screen and (max-width:1114px) {
    .about_hero h1 {
        font-size: 35px;
        line-height: 45px;
    }

    .about_hero {
        padding: 80px 0px 332px 0px;
    }

    .how_desp {
        font-size: 18px;
        line-height: 18px;
    }

    .hero_img {
        top: -90px;
        right: -280px;
    }

    .slick-prev {
        left: 80%;
    }

    .slick-next {
        right: 10%;
    }

    .partner_all {
        margin-right: 24px;
    }

}

@media screen and (max-width:1024px) {
    .how_desp {
        font-size: 16px;
        line-height: 16px;
    }

    .Customers_desp h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .card_desp h2 {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 25px;
    }

    .Customers_desp {
        padding: 110px 0px;
    }

    .join_now h2 {
        font-size: 45px;
        line-height: 55px;
    }

    .about_padd {
        padding: 0px 10px;
    }

    .Physical_shop h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .Physical_shop p {
        font-size: 16px;
        color: var(--body-color);
        font-weight: 400;
        margin-bottom: 25px;
    }

    .digital_shop h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .digital_shop p {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .Mobile_top h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .Mobile_top p {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .NDFT h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .NDFT p {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .partners_heading h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 50px;
    }

    .sub_heading {
        font-size: 16px;
    }

    .partner_all p {
        font-size: 16px;
    }

    .card-body p {
        font-size: 16px;
    }

    .description p {
        font-size: 16px;
    }

    .links ul li a {
        font-size: 16px;
    }

    .links p {
        font-size: 16px;
    }

    .border {
        left: 15px;
        width: 97%;
    }

    .support_hero h1 {
        font-size: 80px;
        line-height: 90px;
        margin-bottom: 34px;
    }

    .support_hero p {
        font-size: 17px;
    }

    .news_bg {
        padding: 110px 0 0;
    }

    .news_bg .card-body h5 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .news_bg .card-body p {
        margin-bottom: 50px;
    }

    .newsletter h3 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 30px;
    }

    .newsletter {
        padding: 40px;
    }

    .follow {
        padding: 190px 0px;
    }

    .follow h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .follow_card .follow_icon {
        margin-bottom: 85px;
    }

    .footer_bottom {
        margin-top: 30px;
    }

    .counter-count span {
        font-size: 24px;
    }

    .digital_shop,
    .Blog,
    .NDFT,
    .Mobile_top,
    .Physical_shop,
    .Customers_main,
    .padd_debit {
        padding-bottom: 120px;
    }

    .padd_debit {
        padding-top: 120px;
    }

    .partners {
        padding-bottom: 40px;
    }
}



@media screen and (max-width:991px) {
    .border {
        width: 100%;
        left: 0;
    }

    .tab_menu .nav-item .item {
        padding-bottom: 15px;
        padding-left: 0;
    }

    /* .tab_menu {
        position: absolute;
        top: 24px;
        width: 100%;
        background-color: #f6f6f6;
        z-index: 99999;
        left: 0;
    } */
    .slick-next {
        top: -50px;
    }

    .slick-prev {
        top: -50px;
        left: 76%;

    }

    .Customers_desp h2 {
        font-size: 28px;
        line-height: 38px;
    }

    .hero_img {
        top: 80px;
        right: -280px;
    }

    .count-up h3 {
        font-size: 22px;
    }

    .count-up p {
        font-size: 14px;
    }

    .shoping_desp h2 {
        font-size: 25px;
        line-height: 25px;
    }

    .shoping_desp {
        padding-bottom: 40px;
    }

    .Shopping_bg {
        padding: 50px 0px;
    }

    .payment_main {
        padding: 50px 0px;
    }

    .Customers_desp {
        padding: 50px 0px;
    }

    .Customers_main {
        padding-bottom: 80px;
    }

    .Physical_shop {
        padding-bottom: 80px;
    }

    .digital_shop {
        padding-bottom: 80px;
    }

    .Mobile_top {
        padding-bottom: 80px;
    }

    .NDFT {
        padding-bottom: 80px;
    }

    .partners {
        padding-bottom: 80px;
    }

    .Blog {
        padding-bottom: 80px;
    }

    .debit_desp p {
        font-size: 16px;
        padding-bottom: 12px;
        margin-bottom: 22px;
    }

    .debit_desp {
        padding-right: 0px;
        padding-top: 30px;

    }

    .debit_desp h2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .millions_bg {
        padding: 20px;
        background-position: right;
    }

    .join_now img {
        padding-bottom: 20px;
    }

    .join_now h2 {
        font-size: 30px;
        line-height: 41px;
    }

    .Physical_shop h2 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    .digital_shop h2 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    .Physical_shop p {
        margin-bottom: 20px;
    }

    .digital_shop p {
        margin-bottom: 20px;
    }

    .Mobile_top h2 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    .Mobile_top p {
        margin-bottom: 20px;
    }

    .NDFT h2 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    .NDFT p {
        margin-bottom: 20px;
    }

    .padd_debit {
        padding-bottom: 50px;
    }

    .partner_all {
        margin-bottom: 40px;
    }

    .navbar-collapse {
        position: absolute;
        top: 61px;
        background: #F6F6F6;
        left: 0;
        width: 100%;
        z-index: 1;
        padding: 0 15px;
        border-radius: 0 0 10px 10px;
    }
}



@media screen and (max-width:768px) {
    .about_hero {
        padding: 60px 0px;
    }

    .Shopping_bg::before {
        left: -221px;
    }

    .Shopping_bg::after {
        right: -221px;
    }

    .scrooll_aerrow {
        bottom: 120px;
    }

    .scrooll_aerrow {
        left: 50%;
        /* top: 75%; */
        transform: translateX(-50%) rotate(270deg);
    }

    .scrooll_aerrow {
        display: none;
    }

    .count-up {
        border-right: none;
    }

    .line_counter {
        margin-bottom: 50px;
    }

    .debit_desp {
        padding-top: 0;
    }

    .payment_main {
        padding: 100px 0px;
        text-align: center;
    }

    .padd_debit {
        padding-bottom: 30px;
    }

    .slick-next {
        display: none !important;
    }

    .slick-prev {
        display: none !important;
    }

    .millions_bg {
        background-image: url(../images/join_bg_m.png);
        height: 470px;
        background-position: bottom;
    }

    .join_now h2 {
        margin-bottom: 20px;
        font-size: 37px;
        line-height: 40px;
    }

    .card_desp p {
        font-size: 16px;
    }


    .Customers_desp p {
        font-size: 16px;
    }

    .customers_more {
        font-size: 16px;
    }

    .Customers_main {
        padding-bottom: 50px;
    }

    .about_padd {
        padding: 0 5px;
    }

    .Physical_shop,
    .digital_shop,
    .Mobile_top,
    .NDFT {
        padding-bottom: 100px;
    }

    .Physical_shop h2 {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 15px;
    }

    .partners {
        padding-bottom: 40px;
    }

    .partner_all {
        margin-bottom: 20px;
    }

    .Customers_desp {
        padding: 96px 0px 30px 0px;
    }

    .partner_all img {
        width: 60px;
        height: 60px;
    }

    .partner_all p {
        font-size: 14px;
    }

    .footer_bg {
        padding-top: 40px;
    }

    .footer_about {
        padding-bottom: 40px;
        border-bottom: 1px solid #F6F6F650;
    }

    .Blog {
        padding-bottom: 40px;
    }

    .blog_btn {
        margin-top: 20px;
    }

    .slick-slide img {
        display: block;
        height: 160px;
    }

    .support_hero h1 {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 19px;
    }

    .support_hero p {
        font-size: 16px;
    }

    .business {
        width: 70px;
        height: 70px;
    }

    .news_bg .card-body h5 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 10px;
    }

    .news_bg .card-body p {
        font-size: 16px;
        margin-bottom: 50px;
    }

    .newsletter h3 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    .newsletter {
        transform: translateY(80px);
        padding: 38px;
    }

    .follow h2 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .support_hero {
        padding: 80px 0px;
    }

    .news_bg {
        padding: 100px 0 0;
    }

    .follow {
        padding: 160px 0px;
    }

    .footer_bottom {
        margin-top: 10px;
    }

    .footer_bottom p {
        padding: 15px 0px;
        font-size: 14px;
    }

    .follow_card .follow_icon {
        width: 50px;
        height: 50px;
        margin-bottom: 80px;
    }

    .follow_card h3 {
        margin-bottom: 7px;
        font-size: 18px;
    }

    .follow_card p {
        font-size: 15px;
    }

    .NDFT,
    .partners,
    .Blog,
    .Customers_main,
    .padd_debit,
    .Shopping_bg {
        padding-bottom: 100px;
    }

    .padd_debit,
    .Shopping_bg {
        padding-top: 100px;
    }

    .about_hero p {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .shoping_desp h2,
    .debit_desp h2,
    .card_desp h2,
    .Customers_desp h2,
    .digital_shop h2,
    .Mobile_top h2,
    .NDFT h2,
    .partners_heading h2 {
        font-size: 28px;
        line-height: 38px;
    }

    .hero_main {
        height: calc(100vh - 390px);
    }

    .counter-count span {
        font-size: 16px;
    }
}

@media screen and (max-width:575px) {
    .about_hero {
        padding: 60px 0px 0px;
        text-align: center;
    }

    .Shopping_bg::before {
        top: -163px;
    }

    .Shopping_bg::after {
        bottom: -163px;
    }

    .partner_all {
        margin-right: 14px;
    }

    .slick-dots li button:before {
        font-size: 15px;
        color: #db312e;
    }

    .slick-dots li {
        margin: 0 1px;
    }

    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: #db312e;
    }

    .about_hero h1 {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    .text_line {
        text-decoration-thickness: 2px !important;
        text-underline-offset: 3px;
    }

    .about_hero p {
        font-size: 13px;
        padding: 0px 70px;
    }

    .shoping_desp h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .shoping_desp {
        padding-bottom: 30px;
    }

    .line_counter {
        margin-bottom: 30px;
    }

    .join_now h2 {
        font-size: 30px;
        line-height: 37px;
    }

    .support_hero h1 {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 14px;
        text-align: center;
    }

    .support_hero p {
        font-size: 14px;
        font-weight: 400;
        color: var(--body-color);
        text-align: center;
    }

    .news_bg {
        padding: 100px 0 0;
        background-size: cover;
    }

    .news_bg .card-body h5 {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 12px;
    }

    .card-body {
        padding: 0px;
    }

    .news_bg .card-body p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .newsletter h3 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 30px;
    }

    .newsletter {
        padding: 30px;
    }

    .follow {
        padding: 150px 0px;
    }

    .follow h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .footer_bottom {
        border-top: 1px solid #11111110;
        margin-top: 40px;
    }

    .footer_bottom p {
        padding: 14px 0px;
        font-size: 14px;
    }

    .follow_card .follow_icon {
        width: 50px;
        height: 50px;
        margin-bottom: 60px;
    }

    .follow_card h3 {
        margin-bottom: 4px;
        font-size: 16px;
        font-weight: 500;
    }

    .follow_card p {
        font-size: 14px;
    }

    .card-text span {
        display: none;
    }

    .description p,
    .links ul li a,
    .links p {
        font-size: 14px;
    }

    .links ul li {
        margin-bottom: 10px;
        line-height: 19px;
    }

    .links h3 {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .footer_about {
        padding-bottom: 30px;
    }

    .footer_bg {
        padding-top: 70px;
    }

    .description {
        padding-top: 32px;
    }

    .slick-dots {
        bottom: -50px;
    }

    .card-body p {
        font-size: 14px;
    }

    .card-body {
        padding: 13px 0;
    }

    .card-head {
        padding: 13px 0px 8px;
    }

    .card-title,
    .card-top a {
        font-size: 12px;
    }

    .Mobile_top p,
    .digital_shop p,
    .Physical_shop p,
    .card_desp p,
    .debit_desp p,
    .NDFT p {
        font-size: 14px;
        line-height: 24px;
    }

    .Mobile_top h2,
    .digital_shop h2,
    .Physical_shop h2,
    .Customers_desp h2,
    .card_desp h2,
    .debit_desp h2,
    .NDFT h2,
    .join_now h2 {
        font-size: 24px;
        line-height: 34px;
    }

    .counter-count span {
        font-size: 14px;
    }

    .NDFT,
    .partners,
    .Blog,
    .Customers_main,
    .padd_debit,
    .Shopping_bg {
        padding-bottom: 60px;
    }

    .padd_debit,
    .Shopping_bg {
        padding-top: 60px;
        text-align: center;
    }

    .about_padd {
        padding: 0;
        margin-top: 0px;
        text-align: center;
    }

    .millions_bg {
        height: 460px;
    }

    .Customers_desp {
        padding: 70px 0px 30px;
    }

    .payment_main {
        padding: 60px 0px;
    }

    .card_desp p {
        margin-bottom: 40px;
    }

    .count-up {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .count-up h3 {
        font-size: 18px;
        margin: 0;
    }

    .slick-slide img {
        display: block;
        height: 140px;
    }
}