* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Black.ttf") format("truetype");
    font-weight: 900;
}

/* Second Font */
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    font-weight: 400;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.mt_85 {
    margin-top: 85px;
}

.text_green {
    color: #007C66 !important;
}

.bg_green {
    background-color: #007C66;
}

.pt_50 {
    padding-top: 50px;
}

.pb_50 {
    padding-bottom: 50px;
}

.px_90 {
    padding: 0 90px;
}

/* .main {
    max-width: 1226px;
    width: 100%;
    margin: 0 auto;
} */

.main_bg {
    padding-top: 45px;
    /* background-color: #007C66; */
    background-image: url('../images/shop_img/banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.header {
    /* padding: 0px 60px; */
    position: relative;
}

.header .navbar .collapse:not(.show) {
    display: block;
}

.header .navbar {
    position: unset;
}

.header .navbar .navbar-nav {
    flex-direction: row;
    gap: 0 30px;
}

.header .navbar .navbar-nav li a {
    color: #fff;
    font-weight: 600;
    padding: 0;
    font-size: 18px;
}

/* .container {
    padding: 0px 60px;
    width: 100%;
} */

.title {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 33px;
    line-height: 130%;
}

.hero_section {
    padding: 105px 0px 147px;
}

.shop_btn {
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    color: #F62929;
    background-color: #FFFFFF;
    text-decoration: none;
    width: 315px;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    margin: 0 auto;
    text-transform: uppercase;
}

.shop_btn:hover {
    color: #F62929;
}

.shop_one {
    left: 0;
    bottom: -110px;
}

.shop_two {
    right: 0;
    bottom: -110px;
}

.section_work {
    padding: 80px 0px 65px;
    background-color: #FFFFFF20;
}

.blog_title {
    padding-bottom: 50px;
}

/* .blog_title h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 122%;
    color: #000;
    margin-bottom: 0;
} */

.work_card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #007C6610;
    padding: 55px 25px 35px;
    border-radius: 20px;
}

.card_title {
    font-size: 20px;
    color: #007C66;
    font-weight: 800;
    margin: 30px 0px 18px;
}

.card_pera {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 0;
    line-height: 150.2%;
}

.section_tab {
    padding: 80px 0 85px;
    background-color: #D9D9D920;
}

.grup_button {
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 43.5px;
    border: 1px solid #007C66;
    box-shadow: 0px 4px 4px #00000025;
    padding: 10px 20px;
    font-weight: 600;
}

.grup_button span {
    font-size: 18px;
    font-weight: 600;
    color: #007C66;
}

.grup_button:hover,
.grup_button:focus {   
    box-shadow: 0px 4px 4px #00000025;
}

.shop_details {
    padding-top: 67px;
}

.grup_button a {
    font-size: 20px;
    color: #FF6565;
    font-weight: 400;
    display: inline-block;
}

.semi_tital {
    color: #007C66;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}

.shop_list li {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    padding-top: 16px;
}

.section_reword {
    margin-top: 70px;
    padding: 85px 0 80px;
    background-color: #D9D9D920;
}

.reword_card {
    padding: 30px 15px 20px;
    background-color: #fff;
    border-radius: 19px;
    text-align: center;
    border: 3px solid #007C66;
    box-shadow: 0 4px 4px 0 #00000025;
    height: 100%;
}

.ellipse {
    margin-top: -75px;
}

.reword_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}

.reword_card h3 {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin: 18px 0 18px;
}

.reword_card p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    color: #000;
    font-style: italic;
}

.section_partner {
    padding: 70px 0px 85px;
}

.section_partner h2 {
    margin-bottom: 40px;
}

.logo_space {
    padding: 0px 130px;
}

.partner_grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 38px 0px;
    justify-content: space-between;
}

.partner_grid a {
    text-decoration: none;
    display: inline-block;
}

.footer {
    padding: 80px 0px;
    background-color: #007C66;
}

.footer_logo {
    margin-bottom: 40px;
}

.footer_pera {
    color: #fff;
    font-size: 15px;
    margin-bottom: 0;
}

.menu_title {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 12px;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    gap: 12px 0px;
}

.footer_menu li a {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    text-decoration: none;
}

.scroll_space {
    scroll-margin-top: 20px !important
}

.view_popup .modal-dialog {
    max-width: 590px;
}

.close_btn {
    position: absolute;
    right: -7px;
    top: -7px;
    background-color: #fff;
    opacity: 1;
}

.close_btn:focus {
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.social_media_gap {
    gap: 10px;
}

.workus_icon {
    width: 52px;
    height: 52px;
    border-radius: 10px;
    padding: 13px;
    background-color: #ffffff29;
}

.work_slider {
    padding-top: 60px;
}

.sep_card {
    padding: 0px 50px;
    box-shadow: 0 4px 4px #00000025;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.step_title h3 {
    font-size: 22px;
    color: #000;
    font-weight: 700;
    line-height: 122%;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
}

.step_title p {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 122.1%;
    text-align: center;
    margin-bottom: 0;
}

.ton_network {
    padding: 75px 0px 77px;
}

.ton_network .row {
    gap: 40px 0;
}

.payment_card {
    padding: 32px 60px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000025;
}

.payment_card .icon {
    padding-bottom: 20px;
}

.payment_card h3 {
    font-size: 20px;
    font-weight: 700;
    color: #007C66;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.payment_card p {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0;  
    text-shadow: 0px 4px 4px #00000025;
}

.section_study {
    padding-top: 60px;    
}

.case_study {
    margin-top: 30px;
    height: 302px;
    padding: 45px 95px;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 30px;
    /* box-shadow: 0px 4px 4px #00000025; */
}

.case_study h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 122.1%;
    color: #000;
    margin-bottom: 15px;
}

.case_study p {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 122.1%;
    text-shadow: 0px 4px 4px #00000025;
}

.step_img {
    padding: 5px 8px;
}

/* Responsive Css Start */

@media screen and (max-width: 1639px) {
    .partner_grid {
        grid-template-columns: auto auto auto auto auto;
    }
}

@media screen and (max-width: 1399px) {
    .partner_grid {
        grid-template-columns: auto auto auto auto auto;
    }

    .shop_one {
        left: -60px;
    }

    .shop_two {
        right: -60px;
    }

    .px_90 {
        padding: 0 60px;
    }

    .case_study {        
        padding: 45px 75px;       
    }

    .logo_space {
        padding: 0px 12px;
    }
}   

@media screen and (max-width: 1200px) {
    .shop_one {
        left: -30px;
    }

    .shop_two {
        right: -30px;
    }
}

@media screen and (max-width: 1199px) {
    .header .navbar .navbar-nav {
        gap: 0 22px;
    }

    .title {
        font-size: 34px;
    }

    .shop_btn {
        font-size: 24px;
        width: 230px;
    }

    .shop_one {
        bottom: -140px;
    }

    .shop_two {
        bottom: -140px;
    }

    .section_work {
        padding-top: 75px;
    }

    .section_tab {
        padding: 70px 0 85px;       
    }

    .pb_50 {
        padding-bottom: 40px;
    }

    .card_title {
        font-size: 18px;
    }

    .grup_button a {
        font-size: 16px;
    }

    .semi_tital {
        font-size: 28px;
    }

    .shop_list li {
        font-size: 20px;
        padding-top: 12px;
    }

    .section_partner {
        padding: 85px 0px 85px;
    }

    .partner_grid {
        grid-template-columns: auto auto auto auto;
        gap: 30px 0px;
    }

    .section_reword .row> :nth-last-child(-n + 1) {
        margin-top: 70px;
    }

    .px_90 {
        padding: 0 12px;
    }

    .case_study {
        padding: 45px 45px;
    }
} 

@media screen and (max-width: 991px) {

    .main_bg {
        overflow: hidden;
    }

    .header .navbar .collapse:not(.show) {
        display: block;
    }

    .header .navbar .navbar-nav {
        flex-direction: column;
    }

    .header .navbar-toggler:focus {
        box-shadow: 0 0 0 0rem;
    }

    .header .mobile_menu {
        position: absolute;
        width: 75%;
        top: -50px;
        background-color: #007e69;
        left: -750px;
        padding: 45px 20px 20px;
        /* border: 1px solid; */
        z-index: 2;
        box-shadow: 4px 4px 4px 0 #00000040;
        transition: all ease-in 0.3s;
        height: 100vh;
    }

    .header .mobile_menu.show {
        left: 0px;
        transition: all ease-in 0.3s;
    }

    .header .navbar .navbar-nav {
        gap: 18px 0px;
    }

    .mobile_header {
        padding-bottom: 30px;
    }

    .title {
        font-size: 28px;
    }

    .shop_one {
        left: -110px;
    }

    .shop_two {
        right: -130px;
    }

    .partner_grid {
        grid-template-columns: auto auto auto;
    }

    .section_reword .row> :nth-last-child(-n + 2) {
        margin-top: 70px;
    }

    .blog_title h2 {
        font-size: 30px;
    }

    .media_section {
        margin-top: 40px;
    }

    .payment_card {
        padding: 32px 30px;      
    }
} 

@media screen and (max-width: 820px) {


    .shop_one {
        left: -40px;
        width: 190px;
    }

    .shop_two {
        right: -40px;
        width: 190px;
    }

    .shop_one {
        left: -25px;
        width: 190px;
    }
}

@media screen and (max-width:600px) {
    .grup_button {  
        padding: 10px 15px;              
    }

    .shop_two {
        width: 150px;
    }

    .shop_one {
        width: 150px;
        bottom: -130px;
    }

    .grup_button a {
        text-align: center;
    }

    .section_work {
        padding-top: 85px;
    }

    .shop_list li {
        font-size: 18px;
    }

    .section_reword .row> :nth-last-child(-n + 3) {
        margin-top: 70px;
    }

    .section_partner {
        padding: 75px 0px 85px;
    }

    .partner_grid {
        gap: 30px 20px;
    }

    .partner_grid a img {
        width: 100%;
    }

    .section_tab {
        padding-top: 80px;
    }

    .blog_title {
        padding-bottom: 50px;
    }

    .blog_title h2 {
        font-size: 24px;
    }

    .step_img {
        padding: 0px 4px;
    }

    .ton_network .row {
        gap: 30px 0;
    }

    .grup_button span {
        font-size: 16px;        
    }

    .pt_50 {
        padding-top: 40px;
    }

    .case_study h3 {
        font-size: 20px;      
    }

    .payment_card h3 {
        font-size: 18px;       
    }

    .payment_card p {
        font-size: 16px;       
    }

}  

@media screen and (max-width: 480px) {

    .header .mobile_menu {
        width: 100%;
        left: -530px;
    }

    .main_bg {
        padding-top: 25px;
    }

    .hero_section {
        padding: 90px 0px 120px;
    }

    .title {
        font-size: 28px;
    }

    .shop_btn {
        font-size: 18px;
        width: 170px;
    }

    .shop_one {
        left: 0px;
        width: 130px;
    }

    .shop_two {
        right: -10px;
        width: 130px;
    }

    .partner_grid {
        grid-template-columns: auto auto;
    }

    .semi_tital {
        font-size: 24px;
    }

    .shop_list li {
        font-size: 16px;
    }

    .grup_button a {
        text-align: center;
        word-break: break-word;
    }

    .section_reword .row> :nth-last-child(-n + 3) {
        margin-top: 60px;
    }

    .section_partner {
        padding: 65px 0px 85px;
    }

    .close_btn {
        right: 0px;
        top: 0px;
        opacity: 0.8;
    }

    .media_section {
        margin-top: 30px;
    }

    .section_tab {
        padding: 60px 0px 65px;
    }

    .case_study {        
        height: auto;       
    }

    .case_study {
        padding: 35px 30px;
    }

    .section_work {
        padding-top: 55px;
    }

    .section_reword {
        margin-top: 60px;
        padding: 65px 0 80px;       
    }

    .case_study h3 {
        font-size: 18px;
    }

    .menu_title {
        font-size: 22px;        
    }
} 

@media screen and (max-width: 390px) {
    .title {
        font-size: 20px;
    }

    .view_popup iframe {
        height: 220px;
    }

    .view_popup .modal-body {
        line-height: 0;
    }
}