* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit-Thin.ttf") format("TrueType");
    font-weight: 100;
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit-ExtraLight.ttf") format("TrueType");
    font-weight: 200;
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit-Light.ttf") format("TrueType");
    font-weight: 300;
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit-Regular.ttf") format("TrueType");
    font-weight: 400;
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit-Medium.ttf") format("TrueType");
    font-weight: 500;
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit-SemiBold.ttf") format("TrueType");
    font-weight: 600;
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit-Bold.ttf") format("TrueType");
    font-weight: 700;
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit-ExtraBold.ttf") format("TrueType");
    font-weight: 800;
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit-Black.ttf") format("TrueType");
    font-weight: 900;
}

body {
    font-family: 'Outfit';
    font-weight: 400;
    opacity: 0.8;
    background: #000;
}

a {
    text-decoration: none;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 0px;
}

.container {
    width: 100%;
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.hero-banner {
    background-image: url('../image/hero-banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1089px;
    aspect-ratio: 215/121;
    width: 100%;
    padding: 106px 0px 283px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-logo {
    max-width: 365px;
    width: 100%;
    display: inline-block;
}

.hero-section {
    max-width: 825px;
}

.main-title {
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 37px;
}

.pera-text {
    color: #FFF;
    font-size: 35px;
    font-weight: 400;
    line-height: 100%;
}

.hero-btn,
.hero-btn:hover,
.hero-btn:active {
    color: #FFF !important;
    text-align: center;
    font-size: 46px;
    font-weight: 800;
    line-height: 100%;
    padding: 0px 48px;
    height: 103px;
    border-radius: 51.5px;
    margin-top: 50px;
    background: linear-gradient(270deg, #680B0B -5.85%, #C2201B 101.31%) padding-box, linear-gradient(to right, #FF1212, #FFFFFF, #FF0101) border-box;
    border: 2px solid transparent !important;
}

.compare-section {
    padding: 38px 0px;
    margin-top: -98px;
}

.compare-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.compare-card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.compare-card-title {
    color: #F51B29;
    font-size: 40px;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 40px;
}

.icon-div {
    width: 28px;
    height: 28px;
    flex: 0 0 auto;
}

.compare-list-text {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.impacts-section {
    padding: 64px 44px;
}

.second-title {
    color: #FFF;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    line-height: 100%;
}

.impacts-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 57px;
}

.impacts-gaps {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.impacts-card {
    background-image: url("../image/card-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
    gap: 12px;
}

.impacts-card-title {
    color: #D2D2D2;
    text-align: center;
    font-size: 82px;
    font-weight: 800;
    line-height: 100%;
}

.impacts-card-text {
    color: #D2D2D2;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 100%;
}

.impacts-info-text {
    color: #FFF;
    text-align: center;
    font-size: 43px;
    font-style: italic;
    font-weight: 500;
    line-height: 100%;
}

.business-section {
    margin-top: 56px;
    padding: 0px 67px;
}

.business-card {
    border-radius: 40px;
    background: linear-gradient(180deg, #F01414 -42.59%, rgba(0, 0, 0, 0.00) -42.59%, #F01414 -42.58%, rgba(240, 20, 20, 0.18) 4.35%, rgba(151, 60, 68, 0.05) 99.99%, rgba(245, 54, 54, 0.00) 100%);
    padding: 100px 142px;
    display: flex;
    flex-direction: column;
    gap: 117px;
    position: relative;
}

.business-card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(270deg, #000, #000) padding-box, linear-gradient(to right, #B936F540, #F5363633, #FF000026) border-box;
    border: 1.621px solid transparent;
    border-radius: 40px;
    z-index: -1;
}

.business-card-text {
    color: #FFF;
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    line-height: 100%;
}

.business-card-title {
    color: #FFF;
    text-align: center;
    font-size: 58px;
    font-weight: 800;
    line-height: 100%;
}

.contact-div {
    padding: 18px 76px;
    border-radius: 500px;
    background-color: #DD211F;
    width: fit-content;
    margin: 70px auto 0px;
    display: flex;
    flex-direction: column;
}

.contact-div p {
    color: #FFF;
    text-align: center;
    font-size: 47px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.email-icon {
    width: 41px;
    height: 41px;
    padding: 6px 3px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-link {
    color: #FFF;
    text-align: center;
    font-size: 47px;
    font-weight: 500;
    line-height: normal;
}

.footer {
    margin-top: 80px;
    padding: 0px 100px 25px;
}

.hr-border {
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.2;
}

.footer-section {
    padding: 80px 0px;
}

.footer-menu-row {
    display: flex;
    justify-content: space-between;
}

.footer-logo-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 360px;
}

.footer-logo {
    max-width: 189px;
    width: 100%;
    display: inline-block;
}

.footer-text {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icon {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100px;
}

.footer-menu-div {
    gap: 50px;
}

.footer-menu {
    width: 210px;
}

.footer-menu-title {
    color: var(--White, #FFF);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.footer-menu-link {
    gap: 5px;
}

.footer-contact-div {
    max-width: 570px;
    width: 100%;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.input-box,
.input-box:active,
.input-box:hover,
.input-box:focus {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    padding: 12px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
}

.input-box::placeholder {
    color: #FFF;
    opacity: 0.6;
}

.textarea-box {
    height: 100px !important;
    resize: unset;
}

.grid-column-full {
    grid-column: 1 / span 2;
}

.form-Contact-btn,
.form-Contact-btn:active,
.form-Contact-btn:hover,
.form-Contact-btn:focus {
    color: #FFF !important;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    line-height: normal;
    border-radius: 500px;
    background: #F51B29 !important;
    height: 46px;
    padding: 0px 25px;
    width: fit-content;
    border: 0px;
}

.footer-copyright-text {
    padding-top: 24px;
}

.footer-copyright-text p {
    color: var(--White, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}




/* Common Css */

.bg_gradient {
    background: linear-gradient(90deg, rgba(190, 32, 18, 0.00) 0%, rgba(190, 18, 21, 0.50) 51%, rgba(190, 32, 18, 0.00) 100%);
}

.gap12 {
    gap: 12px;
}

.gap40 {
    gap: 40px;
}